[Unit]
Description=Homebridge
After=network-online.target
[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/homekit-air-conditioner
ExecStart=/usr/bin/npm start
Restart=always
RestartSec=10
StartLimitInterval=30
StartLimitBurst=20
[Install]
WantedBy=multi-user.target
